* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent any audio playback */
audio {
    display: none !important;
}

.home {
    height: 100vh;
    width: 100%;
    padding-top: 0vw;
    position: relative;
    overflow: hidden;
    background-image: url("https://complicated-maroon-8ihp3vxmur.edgeone.app/1770822665388.png");
    background-size: cover;
    /* move image a bit to the left side */
    background-position: 10% center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    /* vertical center is fine */
    justify-content: flex-start;
    /* THIS moves content to left */
    padding-left: 6vw;
    /* space from left edge */
}

.background-video {
    display: none;
}

/* Optional dark overlay for readability */
.home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.home-content {
    /* above overlay */
    color: #ffffff;
    text-align: left;
    z-index: 1;
    display: flex;

}

.home-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 4vw;
    gap: 2vw;
}

.single-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1vw;
}

.home-title h6 {
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
    font-size: 1.3vw;
    padding: .5vw 0vw;
}

.home-content h1 {
    font-size: 2vw;
    letter-spacing: .5vw;
    margin-bottom: 0px;
    font-family: "BBH Bartle";
}

/* Make "I'm Dudhisty" slightly smaller than the main hello text */
.line2 {
    font-size: .4vw;
}

.home-content p {
    font-size: 1.2rem;
    opacity: 0.9;
}

.icons {
    display: flex;
    gap: 2vw;

}

.buttons {
    display: flex;
    align-items: center;
    padding: 0vw;
    gap: 2vw;
    margin-left: 0;
    margin-right: 0;
    justify-content: flex-start;
}

.i1 {
    position: inherit;
    background-color: transparent;

}

.i1 i {
    font-size: 1.6vw;
    cursor: pointer;
}

.btn-title h5 {
    font-size: 1.5vw;
    font-family: "Science Gothic";
}

.buttons {
    display: flex;
    margin-left: 0;
    padding: .6vw 0vw;
}

@media (max-width: 1024px) {
    .home {
        padding-top: 20vh;
        padding-left: 5vw;
    }

    .home-content h1 {
        font-size: 4vw;
        letter-spacing: 0.3vw;
    }

    .home-title h6 {
        font-size: 2vw;
        justify-content: center;
        margin-right: 0;

    }

    .icons {
        gap: 3vw;
    }

    .i1 i {
        font-size: 4vw;
    }

    .btn-title h5 {
        font-size: 2.2vw;
    }

    .buttons {
        margin-left: 0;
        justify-content: center;
        gap: 4vw;
    }
}

@media (max-width: 768px) {
    .home {
        padding: 0;
        margin: 0;
        width: 100%;
        overflow-x: hidden;
    }

    .background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        object-position: 30% center !important;
    }

    .home-content {
        padding: 0 5vw;
        width: 100%;
        box-sizing: border-box;
    }

    .home-title {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        margin: 0;
        padding: 2rem 0;
        text-align: left;
        margin-bottom: 65vw;
        gap: 2vw;
    }

    .left-side {
        width: 100%;
        text-align: left;
    }

    .middle-gap {
        display: none;
    }

    .right-side {
        width: 100%;
        align-items: flex-start;
        text-align: left;
    }

    .line1,
    .line2,
    .line3 {
        display: block;
        width: 100%;
        text-align: left;
        visibility: visible;
        position: static;
    }

    .line2::after {
        display: none;
    }

    .line2 {
        visibility: visible;
        position: static;
    }

    .home-content h1 {
        font-size: 8vw;
        line-height: 1.2;
        letter-spacing: 0.1em;
        text-align: left;
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .home-title h6 {
        font-size: 4vw;
        text-align: left;
        justify-content: flex-start;
        margin: 0.5rem 0;
        padding: 0;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4vw;
        margin: 1rem 0 0 0;
        width: 100%;
    }

    .btn-title h5 {
        font-size: 4vw;
    }

    .i1 i {
        font-size: 5vw;
    }

    .icons {
        gap: 2rem;
    }
}