<section class="home" id="home">
  <div class="home-content">
    <div class="home-title">
      <h1 class="line1">Hello,</h1>
      <h1 class="line2">I'm Nani Neelapu</h1>
      <h6 class="line3">Web Designer |- Programmer |- Freelancer</h6>
      <div class="buttons">
        <div class="btn-title">
          <h5>CONTACT ME</h5>
        </div>
        <div class="buttons-names">
          <div class="icons">
            <div class="i1">
              <a
                href="https://www.linkedin.com/in/nani-neelapu-359a85232/"
                target="_blank"
                rel="noopener noreferrer"
                style="text-decoration: none; color: white"
              >
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </div>
            <div class="i1">
              <a
                href="https://github.com/nanineelapu"
                target="_blank"
                rel="noopener noreferrer"
                style="text-decoration: none; color: white"
              >
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
            <div class="i1">
              <a
                href="#"
                (click)="$event.preventDefault()"
                style="text-decoration: none; color: white"
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
