<section class="home" id="home">
  <video
    class="background-video"
    autoplay
    muted
    playsinline
    preload="auto"
    webkit-playsinline
  >
    <source
      src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FRealistic_Portrait_Video_With_Blink.mp4?alt=media&token=33208d71-6e44-474c-93f7-d055d7251922"
      type="video/mp4"
    />
  </video>

  <div class="home-content">
    <div class="home-title">
      <div class="single-side">
        <h1 class="line1">Hello,</h1>
        <h1 class="line2">I'm Dudhisty</h1>
        <h6 class="line3">Web Designer |- Programmer |- Freelancer</h6>
        <div class="buttons">
          <div class="btn-title">
            <h5>CONTACT ME</h5>
          </div>
          <div class="buttons-names">
            <div class="icons">
              <div class="i1">
                <a
                  href="https://www.linkedin.com/in/rawlo-dudhisty-933994355"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="text-decoration: none; color: white"
                >
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
              </div>
              <div class="i1">
                <a
                  href="https://github.com/Rawlo-Dudhisty"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="text-decoration: none; color: white"
                >
                  <i class="fa-brands fa-github"></i>
                </a>
              </div>
              <div class="i1">
                <a
                  href="#"
                  (click)="$event.preventDefault()"
                  style="text-decoration: none; color: white"
                >
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
