<nav [class.dark]="isDark" class="navbar" [class.scrolled]="scrolled">
  <a href="#" class="logo" style="text-decoration: none; font-weight: 800; font-size: 2vw;">A</a>
  <ul [class.dark]="isDark" class="nav-links">
    <li><a (click)="scrollTo('home')">Home</a></li>
    <li><a (click)="scrollTo('about')">About</a></li>
    <li><a (click)="scrollTo('services')">Services</a></li>
    <li><a (click)="scrollTo('skills')">Skills</a></li>
    <li><a (click)="scrollTo('projects')">Projects</a></li>
    <li><a (click)="scrollTo('contact')">Contact</a></li>
  </ul>
  <a href="#" class="resume-btn">Download Resume</a>
</nav>