<div class="projects-page" style="background-color: #111">
  <section class="projects" id="projects" style="background-color: #111">
    <div class="title">
      <h2 style="font-family: 'Science Gothic'">Projects</h2>
      <hr />
      <div class="desc">
        <p>I like to showcase my projects. Here are some of my projects.</p>
      </div>
    </div>
  </section>
  <div class="main-title">
    <span> ECOMMERCE WEBSITE FOR SHOPPING</span>
  </div>

  <section id="prj-desc">
    <!-- PROJECT 1 -->
    <div class="one">
      <div class="title-one">
        <h6>
          A full-stack e-commerce platform focused on responsiveness,
          performance, and scalability.
        </h6>
        <p style="font-size: 1.3vw">Role: Full-Stack Developer</p>
      </div>
    </div>
  </section>
  <section id="sec2">
    <div #imageTrack class="prj-one-images">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Screenshot%202025-12-22%20150620.png?alt=media&token=0a809bae-eb82-45c3-904e-1e863e0f0ad9"
      />

      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20155601.png?alt=media&token=95c86dd6-8dcd-4337-8667-3674436812fd"
      />
      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20162432.png?alt=media&token=06760263-4455-4bb8-8fe7-8cc409172e1e"
      />

      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20151144.png?alt=media&token=aa4ae385-85a2-442a-ae2f-d1444b276889"
      />

      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20154457.png?alt=media&token=08f0e06e-5641-4393-8424-01aa3d7efe44"
      />
    </div>

    <div class="descript">
      <div class="normal"></div>
    </div>
  </section>

  <div class="line"></div>

  <!-- Project 2 -->

  <div class="main-title" style="padding: 6vw 0vw">
    <span>MOBILE RECHARGE APPLICATION</span>
  </div>

  <section id="prj-desc">
    <div class="one">
      <div class="title-one">
        <h6>
          CAPSTONE PROJECT OF TECH MAHINDRA - Developed the frontend page of the
          Mobile application Recharge Platform
        </h6>
        <p style="font-size: 1.3vw">Role: Full-Stack Developer</p>
      </div>
    </div>
  </section>
  <section id="sec2">
    <div #imageTrack2 class="prj-one-images">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20171735.png?alt=media&token=fa1b8256-9ef0-43b6-8b63-3e483e421fa7"
      />

      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20171853.png?alt=media&token=100e584d-5c5b-4f66-8b01-9632e348188f"
      />
      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20172006.png?alt=media&token=be546aa0-7c77-448b-a177-852b92de21f8"
      />

      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20171735.png?alt=media&token=fa1b8256-9ef0-43b6-8b63-3e483e421fa7"
      />

      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20171853.png?alt=media&token=100e584d-5c5b-4f66-8b01-9632e348188f"
      />
      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20172006.png?alt=media&token=be546aa0-7c77-448b-a177-852b92de21f8"
      />
    </div>

    <div class="descript">
      <div class="normal"></div>
    </div>
  </section>

  <div class="line"></div>
  <!-- Project 3 -->

  <!-- <div class="main-title" style="padding: 6vw 0vw">
    <span style="color: #939393">ECHARGE APPLICATION - </span>
    <span>
      RESTAPI IMPLEMENTATION INTERFACE
    </span>
    <span style="color: #939393">- MOBILE RECHAR</span>
  </div>
  <section id="prj-desc">
    <div class="one">
      <div class="title-one">
        <h6>
          Preview of UI and UI Project Dev - ! Created Appilication Interface
          for a Music App (System Figma Project)
        </h6>
        <p style="font-size: 1.3vw">UI DEVELOPER</p>
      </div>
    </div>
  </section>
  <section id="sec2">
    <div #imageTrack2 class="prj-one-images">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20171735.png?alt=media&token=fa1b8256-9ef0-43b6-8b63-3e483e421fa7"
      />

      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20171853.png?alt=media&token=100e584d-5c5b-4f66-8b01-9632e348188f"
      />
      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20172006.png?alt=media&token=be546aa0-7c77-448b-a177-852b92de21f8"
      />

      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20171735.png?alt=media&token=fa1b8256-9ef0-43b6-8b63-3e483e421fa7"
      />

      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20171853.png?alt=media&token=100e584d-5c5b-4f66-8b01-9632e348188f"
      />
      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2FScreenshot%202025-12-28%20172006.png?alt=media&token=be546aa0-7c77-448b-a177-852b92de21f8"
      />
    </div>

    <div class="descript">
      <div class="normal"></div>
    </div>
  </section> -->
</div>
