<section id="about">
  <div class="section-title">
    <h2>About Me</h2>
    <span>Who I Am</span>
  </div>
  <div class="content">
    <div class="left">
      <div class="left-content">
        <p>
          B.Tech Computer Science graduate from GIET. Java Full Stack trainee at
          Techwing with hands-on experience building web applications using
          Angular and Next.js, integrated with REST APIs. Worked as a freelance
          web developer, delivering responsive, user-focused websites and
          application features. Seeking an entry-level software development role
          to grow professionally.
        </p>
        <div class="t1">
          <h6>Email</h6>
          <p>neelapunani2580gmail.com</p>
        </div>
        <div class="t2">
          <h6>Contact</h6>
          <p>7661891711</p>
        </div>

        <!-- <h6></h6> -->
      </div>
    </div>
    <div class="right">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/ond.png?alt=media&token=e8a50120-6cac-4aa7-b70b-f06e5067bd03
        "
        alt=""
      />
      <a href="" class="resume-btn light"> Services </a>
    </div>
  </div>
</section>
