<section id="about">
  <div class="section-title">
    <h2>About Me</h2>
    <span>Who I Am</span>
  </div>
  <div class="content">
    <div class="left">
      <div class="left-content">
        <p>
          B.Tech Computer Science graduate from GIET. Java Full Stack trainee at
          Techwing with hands-on experience building web applications using
          Angular and Next.js, integrated with REST APIs. Worked as a freelance
          web developer, delivering responsive, user-focused websites and
          application features. Seeking an entry-level software development role
          to grow professionally.
        </p>
        <div class="t1">
          <h6>Email</h6>
          <p>rawlodudhisty&#64;gmail.com</p>
        </div>
        <div class="t2">
          <h6>Contact</h6>
          <p>8249744361</p>
        </div>

        <!-- <h6></h6> -->
      </div>
    </div>
    <div class="right">
      <img
        src="https://liquid-gold-pqrgp1whqa.edgeone.app/dp%20image.png
        "
        alt=""
      />
      <a href="" class="resume-btn light"> Services </a>
    </div>
  </div>
</section>
